# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Cache
.turbo
.cache
.parcel-cache

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Other
coverage
.nyc_output