{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^@tanstack/(.*)$",
    "^zustand$",
    "^lucide-react$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}